#split-content {
  width: 800px;
  margin: auto;
  text-align: center;
  font-family: tahoma;
}
.what-is {
  background-image: url('./what-is-webpack.png');
  width: 700px;
  height: 350px;
  margin: auto;
}
